$body-bg-color: rgb(37, 37, 37);

$input-bg-color: rgb(58, 58, 58);
$input-placeholder-color: rgb(141, 141, 141);

$button-bg-color: rgb(58, 58, 58);
$button-text-color: rgb(141, 141, 141);
$button-active-bg-color: rgb(255, 255, 255);
$button-active-text-color:rgb(58, 58, 58);

$border-color: rgb(99, 99, 99);
$focus-border-color: rgb(184, 184, 184);

$text-color: rgb(255, 255, 255);

$red: rgb(216, 71, 71);
$green: rgb(54, 184, 108);